@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Austraila's #1 Website to Give You Latest Good News</p>
    
    <p>@Html.ActionLink("Learn More", "ShowNews", "Home", new { @class = "btn btn-primary btn-lg" })</p>
</div>