@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" img src="~/Content/images/news.png">
    <br />
    <br />
    <br />
    <br /><br /><br /><br /><br />
    <br />
    <br />
    <p></p>
</div>

<div class="row">
    
    
    
</div>